<div style="padding: 15px 50px">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Guarantee</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let guarantee"> {{guarantee.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                <mat-cell *matCellDef="let guarantee"> {{guarantee.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
                <mat-cell *matCellDef="let guarantee"> {{guarantee.startDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
                <mat-cell *matCellDef="let guarantee"> {{guarantee.endDate}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
            <mat-row *matRowDef="let row; columns: headers;" (click)="selectItem(row)"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        <mat-action-row>
            <button mat-button>Delete</button>
            <button mat-button>Save</button>
        </mat-action-row>
    </mat-expansion-panel>
</div>


