<div style="padding: 15px 50px">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Guarantee Profile</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let guaranteeProfile"> {{guaranteeProfile.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> Basis </mat-header-cell>
                <mat-cell *matCellDef="let guaranteeProfile"> {{guaranteeProfile.guaranteeBasis}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
                <mat-cell *matCellDef="let guaranteeProfile"> {{guaranteeProfile.startDate}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
                <mat-cell *matCellDef="let guaranteeProfile"> {{guaranteeProfile.endDate}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="headers"></mat-header-row>
            <mat-row *matRowDef="let row; columns: headers;" (click)="selectItem(row)"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        <mat-action-row>
            <button mat-button (click)="clear()">Clear</button>
            <button mat-button (click)="save()">Save</button>
        </mat-action-row>

        <form>
            <mat-grid-list cols="8" rowHeight="60px" style="margin-left: -4px;">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field>
                        <input matInput placeholder="Guarantee Name" [(ngModel)]="selectedItem.name" name="guaranteeName">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="5" rowHeight="53px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-grid-tile-header>Guarantee Basis</mat-grid-tile-header>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1" style="margin-left: 34px;">
                    <mat-radio-group [(ngModel)]="selectedItem.guaranteeBasis" name="guaranteeBasis">
                        <mat-radio-button value="REBATE_DOLLARS">Rebate Dollars</mat-radio-button>
                        <mat-radio-button value="REBATE_PLUS_ADMIN_DOLLARS">Rebate Plus Admin Dollars</mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="12" rowHeight="53px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-grid-tile-header>Claim Basis</mat-grid-tile-header>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="11" [rowspan]="1" style="margin-left: -2px;">
                    <mat-radio-group [(ngModel)]="selectedItem.claimBasis" name="claimBasis">
                        <mat-radio-button value="BRANDED">Branded</mat-radio-button>
                        <mat-radio-button value="REBATE_EARNED">Rebate Earned</mat-radio-button>
                        <mat-radio-button value="REBATE_ELIGIBLE">Rebate Eligible</mat-radio-button>
                        <mat-radio-button value="TOTAL_RECEIVED">Total Received</mat-radio-button>
                        <mat-radio-button value="TOTAL_RECEIVED_EXCEPT_EDITED">Total Received Except Edited</mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="8" rowHeight="53px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-grid-tile-header>Guarantee Calc Method</mat-grid-tile-header>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1" style="margin-left: -10px">
                    <mat-radio-group [(ngModel)]="selectedItem.guaranteeCalcMethod" name="guaranteeCalcMethod">
                        <mat-radio-button value="SCRIPTS">Scripts</mat-radio-button>
                        <mat-radio-button value="UNITS">Units</mat-radio-button>
                    </mat-radio-group>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="6" rowHeight="53px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-grid-tile-header>Exclude Claims</mat-grid-tile-header>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1" style="margin-left: 20px;">
                    <mat-checkbox [(ngModel)]="selectedItem.excludeClaims" name="excludeClaims">Vaccine</mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="4" rowHeight="53px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-grid-tile-header>Start Date</mat-grid-tile-header>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1" style="margin-left: 10px;">
                    <mat-form-field>
                        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="selectedItem.startDate" name="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-grid-tile-header>End Date</mat-grid-tile-header>
                    <mat-form-field>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="selectedItem.endDate" name="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-expansion-panel>
</div>


